<h3>What's your daily goal?</h3>

<%= render 'form' %>

<p id="suggestions">Suggestions: <%= hint_links(@hints).html_safe %></p>

<hr>

<p>What to expect? A daily email like this:</p>

<div class="well text-left">
  <p>
    <em>From:</em>
    hello@mydailygoal.net
  </p>

  <p>
    <em>Subject:</em>
    <%= "#{@hints.first}: #{@sample_goal.current_streak}-day streak, new record!" %>
  </p>

  <p>Heyooo! Did you meet your daily goal? If you did, click here:</p>

  <p><%= link_to awyea_goal_url(@sample_goal), "#" %></p>

  <p>If you missed your goal, no worries: we'll try again tomorrow.</p>

  <p>Keep being awesome.</p>

  <p>
    --<br/>
    Edit your settings here: <%= link_to edit_goal_url(@sample_goal), "#" %>
  </p>
</div>

<div class="footer text-right">
  <small>Zeros and ones by <a href="http://kevinbongart.net">Kevin Bongart</a></small>
</div>
