<div class="header" id="goal-name">
  <h1><%= @goal.name %></h1>
</div>

<h4>
  Current streak:
  <%= pluralize @goal.current_streak, "day" %>
  <% if @goal.current_streak > @goal.record_streak %>
    <span class="badge badge-success">New record!</span>
  <% end %>
</h4>

<% if @goal.record_streak > 0 %>
  <p>
    Previous record:
    <%= pluralize @goal.record_streak, "day" %>
  </p>
<% end %>

<% if @goal.current_streak > @goal.record_streak %>
  <p><%= image_tag "mister_t.gif" %></p>
<% end %>

<%= link_to 'settings', edit_goal_path(@goal) %>
