<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="http://www.mydailygoal.net/" />
    <meta property="og:title" content="My Daily Goal" />
    <meta property="og:image" content="<%= image_url("mister_t.gif") %>" />
    <meta property="og:description" content="Reach your goal one day at a time." />

    <title><%= content_for?(:title) ? yield(:title) : "My Daily Goal" %></title>

    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="container text-center">
      <%= render "header" %>
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </body>
</html>
